
/*------------------------------------*\
	VARIABLES
\*------------------------------------*/
$bg: 				    #FFFFFF;
$linkcolor:			#E95C2E;
$text-color: 		#454549;
$rouge: 			  #EC1C24;
$vert: 				  #36BCAF;
$brown: 			  #96906E;
$off-white:    	#F4F4F3;



$goutiere: 40px;
$demi_goutiere: 20px;

$size1: 			1280px;
$size2: 			1163px;
$size3: 			1024px;
$size4: 			767px;
$size5: 			480px;
$size6: 			320px;
